.swiper-slide {
  overflow: hidden;
  width: 798px !important;
  border-radius: 10px !important;
}
.top-game-card {
  display: flex;
  height: 365px;
  box-sizing: border-box;
}
.top-game-card .img-box {
  width: 525px;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.top-game-card .desc-box {
  padding: 24px;
  width: 273px;
  height: 100%;
  background-color: hsl(0, 0%, 14%);
  color: #fff;
  box-sizing: border-box;
}
.top-game-card .desc-box h3 {
  display: inline-block;
  font-weight: 800;
}

@media (max-width: 992px) {
}
