.swiper-slide {
  overflow: hidden;
  width: 798px !important;
  border-radius: 10px !important;
}
.top-game-card {
  display: flex;
  height: 365px;
  box-sizing: border-box;
}
.top-game-card .img-box {
  width: 525px;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.top-game-card .desc-box {
  padding: 24px;
  width: 273px;
  height: 100%;
  background-color: hsl(0, 0%, 14%);
  color: #fff;
  box-sizing: border-box;
}
.top-game-card .desc-box h3 {
  display: inline-block;
  font-weight: 800;
}
.top-game-card .desc-box .btn-list {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 194px;
  border: 1px solid rgba(123, 123, 123, 0.3);
  border-radius: 5px;
}

.desc-box .btn-list > div {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}
.desc-box .btn-list > div:nth-child(1) {
  border-bottom: 1px solid rgba(123, 123, 123, 0.3);
  border-right: 1px solid rgba(123, 123, 123, 0.3);
}
.desc-box .btn-list > div:nth-child(2) {
  border-bottom: 1px solid rgba(123, 123, 123, 0.3);
}
.desc-box .btn-list > div:nth-child(3) {
  border-right: 1px solid rgba(123, 123, 123, 0.3);
}
.desc-box .btn-list > div:nth-child(4) {
}
.desc-box .btn-list > div > button {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 12px;
}
.btn-list > div > button:hover {
  background: #fff;
  color: #000;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 992px) {
}
