.favGamesWrap {
  padding: 24px 24px 4px;
  margin: 0 auto 100px;
  width: 798px;
  color: #fff;
  border: 2px solid hsla(0, 0%, 100%, 0.1);
  box-sizing: border-box;
}
.favGamesWrap .flexBox {
  display: flex;
  flex-wrap: wrap;
}
.favGamesWrap .favCard {
  overflow: hidden;
  margin: 0px 10px 20px;
  width: calc(50% - 20px);
  background-color: hsl(0, 0%, 14%);
  border-radius: 5px;
}
.favGamesWrap .favCard .favGameImg {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
.favGamesWrap .favCard .favGameInfo {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}
.favCard .favGameInfo .gameName {
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.favCard .favGameInfo .gameName:hover {
  text-decoration: underline;
}
.favCard .favGameInfo .category {
  margin-right: 10px;
  font-weight: bold;
}
