.loading-spinner {
  animation: loading-spinner infinite 1s linear;
  height: 60px;
  width: 60px;
}
.loading-spinner-box {
  display: grid;
  place-items: center;
  width: 100vw;
  height: calc(100vh - 64px);
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
