/* MainPage CSS */

.mainpage-area {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.main-page-dropdown-area {
  display: flex;
  gap: 0.4rem;
}

/* column-width가 중요 */
.mainpage-card-contents-area {
  column-width: 300px;
  column-gap: 15px;
}

.mainpage-card-contents-area figure {
  position: relative;
  border-radius: 18px;
  display: inline-block;
  margin: 0;
  /* margin-bottom: 15px; */
  margin-bottom: 23px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);

  min-height: 10rem;
}

.mainpage-card-contents-area figure img {
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.mainpage-card-contents-area figure figcaption {
  padding: 0px 10px 10px 10px;
}

@media (max-width: 992px) {
  .mainpage-area {
    align-items: center;
  }
  .mainpage-card-contents-area {
    column-width: 350px;
  }
}
/* 추가코드 */
.mainpage-card-contents-box {
  display: flex;
  justify-content: center;
}
.mainpage-card-contents-area {
  column-width: 300px;
  column-gap: 23px;
}
