p{
  margin-bottom: 0;
}

.detail-bg {
  color: white;
  width: 100%;
  height: 200vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.detail-section-1 {
  margin: auto;
  display: flex;
  gap: 10px;
  max-width: 1200px;
}

/* ddddddddddddddddddddddddd */
.detail-section-1 div {
 /* border: 1px white solid; */
}


.detail-section-1-1 {
  width: 600px;
  margin: auto;
}


.detail-media-container {
  display: flex;
  flex-wrap: wrap;
}

.detail-media-item-box {
  padding: 4px;
  flex-basis: 33%;
  height: 150px;
  cursor: pointer;
  overflow: hidden;
}

.detail-media-item-box:first-child {
  flex-basis: 100%;
  height: 300px;
}

.detail-media-item{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


.detail-media-item:hover{
  transform: scale(1.1);
  transition:  all 1s;
}
.detail-media-item-overay{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  opacity: 40%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-media-item-overay:hover{
  background-color: white;
  color: black;
}

.detail-section-1-2 {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.datail-name {
  font-size: 50px;
  font-weight: bold;
}

.detail-rank-add{
  display: flex;
  gap: 15px;
  /* justify-content: center; */
  align-items: center;
}

.detail-rank{
  text-transform: capitalize;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-rating-bar{
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
}


.detail-rating-count{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.detail-rating-btn{
  border: 2px solid transparent;
  /* outline: 2px solid white; */
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
}

.detail-rating-btn:hover{
  border-color: gray;
  box-sizing: content-box;
}


.detail-about{
    height: 100px;
}

.detail-about-more-btn{
  border: none;
  color:gray;
  background-color: transparent;

}

/* 모바일화면 */
@media (max-width : 991px){
  
  .detail-bg{
    max-width: 500px;
    padding: 0;
    margin: auto;
  }
  .detail-section-1{
    width: 100%;
    flex-direction: column;
  }

  .detail-section-1-1 {
    width: 100%;
    margin: auto;
  }

  .detail-media-item-box {
    height: 80px;
  }
  
  .detail-media-item-box:first-child {
    flex-basis: 100%;
    height: 240px;
  }
  .datail-name {
    font-size: 30px;
    font-weight: bold;
  }

  .detail-rank{
    font-size: 15px;
  }
  

}