.login-page-login-input {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 12px;
}
.login-page-login-input:focus {
  outline: none !important;
  background-color: rgba(0, 0, 0, 0.3);
  border: none !important;
  color: white;
}
.login-page-login-input::placeholder {
  color: rgb(165, 165, 165);
}

.login-page-login-button {
  background-color: white;
  color: black;
}

.signup-navigate-button {
  text-align: center;
  margin: auto;
  margin-top: 8px;
  padding: 2px;
  font-size: 14px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.signup-navigate-button:hover {
  color: rgb(194, 195, 194);
  border-bottom: 1px solid rgb(194, 195, 194);
}
