.applayout-wrapper {
  background-color: #1d1d1f;
}
.applayout-header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.applayout-wrapper main {
  display: flex;
  min-height: calc(100vh - 64px);
  height: 100%;
}

.applayout-wrapper aside {
  width: 250px;
  min-height: calc(100vh - 55px);
  height: 100%;
  position: sticky;
  top: 64px;
}
@media screen and (max-width: 992px) {
  .applayout-wrapper aside {
    width: 250px;
    min-height: calc(100vh - 55px);
    height: 100%;
    position: sticky;
    top: 64px;
    display: none;
  }
}
